div.texte {
            font-size: large;
            color : yellowgreen;
            position: right;
          } 

.banniere {
           height : 500px;
         }          
body{
    background-color:black;
}
#bann{
    position: relative;
    top: 100px;

}
#ban{
    width:900px;
    margin-left: 60px;
    margin-right: 50px;
}
.image img{
    float: right;
    position: relative;
    left: 400px;
    bottom:230px;
    border-radius:15px;
}

p{
    color:white;
    font-size: larger;
}
